{% extends 'base_blog.html' %}

{% block extra_blog_head %}

{% endblock %}

{% block extra_body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="panel-body ">
                {{ post.content|safe }}
            </div>
            <div class="panel-footer text-right">
                    {% for post_tag in post.posttags_set.all %}
                        <a href="{% url 'blog:tags_page' tag_id=post_tag.tag.id %}">
                            {{ post_tag.tag }}
                        </a>/
                    {% endfor %}
                {{ post.created }} ({{ post.modified }})
                {% if is_superuser %}
                    <a type="button"
                       class="btn btn-info"
                       href="{% url 'blog:posts_edit' post_id=post.id %}">
                        Редактировать
                    </a>
                    <a type="button"
                       class="btn btn-danger"
                       href="{% url 'blog:posts_delete' post_id=post.id %}">
                        Удалить
                    </a>
                {% endif %}
            </div>
        </div>
        <form class="form-horizontal"
              method="post"
              enctype="multipart/form-data"
              action="{% url 'blog:comment_add' post_id=post.id%}?redirect={% url 'blog:post_page' post_id=post.id %}">
            {% csrf_token %}
            {% if not user.is_authenticated %}
                <div class="form-group">
                    <label for="user_name" class="col-sm-2 control-label">
                        Ваше имя
                    </label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control"
                                id="user_name"
                                placeholder="имя"
                                name="user_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_email" class="col-sm-2 control-label">
                        Ваш email
                    </label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control"
                                id="user_email"
                                placeholder="email"
                                name="user_email">
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="content_raw" class="col-sm-2 control-label">
                    Коментарии (markdown)
                </label>
                <div class="col-sm-10">
                    <textarea
                            class="form-control"
                            id="content_raw"
                            name="content_raw"
                            rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        Добавить коментарии
                    </button>
                </div>
            </div>
        </form>

        {% for comment in post.comments %}
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                    <h3><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h3>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h3>
                        {% if comment.user %}
                            {{ comment.user }}
                        {% else %}
                            {{ comment.user_name }}
                        {% endif %}
                        <small>({{ comment.created }})</small>
                        {% if is_superuser %}
                            <a type="button"
                               class="btn btn-info"
                               href="{% url 'comments:edit' comment_id=comment.id %}?redirect={% url 'blog:post_page' post_id=post.id %}">
                                Редактировать
                            </a>
                            <a type="button"
                               class="btn btn-danger"
                               href="{% url 'comments:delete' comment_id=comment.id %}?redirect={% url 'blog:post_page' post_id=post.id %}">
                                Удалить
                            </a>
                        {% endif %}
                    </h3>
                    {{ comment.content|safe }}
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}