{% extends 'base_blog.html' %}

{% block extra_blog_head %}

{% endblock %}

{% block extra_body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="panel-body ">
                {{ post.content|safe }}
            </div>
            <div class="panel-footer text-right">
                    {% for post_tag in post.posttags_set.all %}
                        <a href="{% url 'blog:tags_page' tag_id=post_tag.tag.id %}">
                            {{ post_tag.tag }}
                        </a>/
                    {% endfor %}
                {{ post.created }} ({{ post.modified }})
                {% if is_superuser %}
                    <a type="button"
                       class="btn btn-info"
                       href="{% url 'blog:posts_edit' post_id=post.id %}">
                        Редактировать
                    </a>
                    <a type="button"
                       class="btn btn-danger"
                       href="{% url 'blog:posts_delete' post_id=post.id %}">
                        Удалить
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}