{% extends 'base_blog.html' %}

{% block extra_blog_head %}

{% endblock %}

{% block extra_blog_body %}
    <div class="container">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ tag.id }}">
            <div class="form-group">
                <label for="tag_names" class="col-sm-2 control-label">
                    Теги, через заптую
                </label>
                <div class="col-sm-10">
                    <input
                            type="text"
                            class="form-control"
                            id="tag_names"
                            placeholder="теги"
                            name="tag_names"
                            value="{{ post.tag_names }}">
                </div>
            </div>
            <div class="form-group">
                <label for="post_title" class="col-sm-2 control-label">
                    Заголовок
                </label>
                <div class="col-sm-10">
                    <input
                            type="text"
                            class="form-control"
                            id="post_title"
                            placeholder="заголовок"
                            name="post_title"
                            value="{{ post.title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="publish" class="col-sm-2 control-label">
                    Опубликовать
                </label>
                <div class="col-sm-1">
                    <input type="checkbox"
                           name="publish"
                           id="publish"
                           class="form-control"
                            {% if post.published %}checked{% endif %}></div>
            </div>
            <div class="form-group">
                <label for="post_raw_content" class="col-sm-2 control-label">
                    Содержание
                </label>
                <div class="col-sm-10">
                    <textarea
                            class="form-control"
                            id="post_raw_content"
                            name="post_raw_content"
                            rows="30">{{ post.raw_content }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        {% if tag %}
                            Изменить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
        <pre>
                Блочные элементы

                    <пустая строка>
                    Текст параграфа. Может быть
                    разбит на несколько строк.
                    <пустая строка>

                Переводы строк

                    Текст параграфа.<пробел><пробел>
                    Этот текст будет с новой строки.

                Заголовки

                    Заголовок первого уровня H1
                    ===========================

                    Заголовок второго уровня H2
                    ---------------------------

                    # Заголовок 1 уровня
                    ###### Заголовок 6 уровня

                Цитаты

                    > Это
                    > многострочная
                    > цитата

                    > Это
                    многострочная
                    цитата

                Списки

                    *, -, +

                    * 1 элемент
                    * 2 элемент
                        1. 1 элемент
                        2. 2 элемент
                    параметр
                    : описание

                Блок кода

                    <пробел><пробел><пробел><пробел>print 'Hello, World!'

                    Используйте функцию `printf()` для вывода.

                Горизонтальная линия

                    * * *
                    ***
                    ---

                Ссылки

                    Это простая [ссылка](http://rukeba.com/) в тексте.
                    Это [ссылка](http://rukeba.com/ "Титул") с аттрибутом title.

                    Это [ссылка][1] в справочном стиле.
                    ...
                    ...
                    [1]: http://rukeba.com/ "Необязательный титул"

                    Что бы урл в тексте стал ссылкой его нужно обрамить в < и >
                    По урлу &lt;http://rukeba.com/&gt; находится мой сайт.

                Изображения

                    ![alt-текст](http://example.com/image.jpg "Необязательный титул")

                    ![alt-текст][2]
                    ...
                    ...
                    [2]: http://example.com/image.jpg "Необязательный титул"

                Выделение

                    Одинарные генерируют тег &lt;em&gt;
                    это *выделенный* текст
                    это _выделенный_ текст

                    Двойные генерируют тег &lt;strong&gt;
                    это **очень выделенный** текст
                    это __очень выделенный__ текст

                Таблица

                    | First Header  | Second Header |
                    | ------------- | ------------- |
                    | Row1 Cell1    | Row1 Cell2    |
                    | Row2 Cell1    | Row2 Cell2    |
        </pre>
    </div>
{% endblock %}