{%  comment %}
xs - <  768px;
sm - >  768px;
md - >= 992px;
lg - >= 1200px;
{% endcomment %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>

<html>

    <head>
        <meta
                name="google-site-verification"
                content="{{ GOOGLE_SITE_VERIFICATIN }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block description %}
{#            <meta name="description" content="">#}
        {% endblock %}

        <script src="{{ STATIC_URL }}jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ STATIC_URL }}bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block extra_head %}{% endblock %}

        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}application.css">

        <link rel="alternate" hreflang="ru">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button
                                type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Главная</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div
                            class="collapse navbar-collapse"
                            id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li
                                {% if active_page == "blog" %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url "blog:list" "" %}">
                                    Блог
                                </a>
                            </li>
                            <li class="dropdown">
                                <a
                                    href="#"
                                    class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    role="button"
                                    aria-haspopup="true"
                                    aria-expanded="false">

                                    Конспекты
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for conspect_items in conspects %}
                                        {% for conspect in conspect_items %}
                                            <li><a href="{{ conspect.url }}">{{ conspect.title }}</a></li>
                                        {% endfor %}
                                        <li role="separator" class="divider"></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li
                                {% if active_page == 'metrics' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'metrics:home_page' %}">
                                    Статистика
                                </a>
                            </li>
                            <li
                                {% if active_page == 'sitemap' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'sitemap' %}">
                                    Карта
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if view.request.user.is_superuser %}
                                <li
                                    {% if active_page == 'fileuploader' %}
                                        class="active"
                                    {% endif %}>
                                    <a href="{% url 'fileuploader:home_page' %}">
                                        Файлохранилище
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:index' %}">
                                        Админка
                                    </a>
                                </li>
                            {% endif %}
                            {% if view.request.user.is_superuser %}
                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Войти</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {% block extra_body %}{% endblock %}
    </body>

</html>