{%  comment %}
xs - <  768px;
sm - >  768px;
md - >= 992px;
lg - >= 1200px;
{% endcomment %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>

<html>

    <head>
        <meta
                name="google-site-verification"
                content="84y9A4q0QF0YiwyLi-xefrzNN8d6B5W2E84xYUtoQYc" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{{ STATIC_URL }}jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ STATIC_URL }}bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block extra_head %}{% endblock %}

    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button
                                type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Главная</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div
                            class="collapse navbar-collapse"
                            id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li
                                {% if active_page == 'metrics' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'metrics_home_page' %}">
                                    Статистика
                                </a>
                            </li>
{#                            <li  class="active"><a href="#">Статистика</a></li>#}
    {#                        <li class="dropdown">#}
    {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Конспекты <span class="caret"></span></a>#}
    {#                            <ul class="dropdown-menu">#}
    {#                                <li><a href="#">Action</a></li>#}
    {#                                <li><a href="#">Another action</a></li>#}
    {#                                <li><a href="#">Something else here</a></li>#}
    {#                                <li role="separator" class="divider"></li>#}
    {#                                <li><a href="#">Separated link</a></li>#}
    {#                                <li role="separator" class="divider"></li>#}
    {#                                <li><a href="#">One more separated link</a></li>#}
    {#                            </ul>#}
    {#                        </li>#}
                        </ul>
    {#                    <form class="navbar-form navbar-left" role="search">#}
    {#                        <div class="form-group">#}
    {#                            <input type="text" class="form-control" placeholder="Search">#}
    {#                        </div>#}
    {#                        <button type="submit" class="btn btn-default">Submit</button>#}
    {#                    </form>#}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Войти</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        {% block extra_body %}{% endblock %}
    </body>

</html>