{%  comment %}
xs - <  768px;
sm - >  768px;
md - >= 992px;
lg - >= 1200px;
{% endcomment %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>

<html>

    <head>
        <meta
                name="google-site-verification"
                content="84y9A4q0QF0YiwyLi-xefrzNN8d6B5W2E84xYUtoQYc" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{{ STATIC_URL }}jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ STATIC_URL }}bootstrap/3.3.5/js/bootstrap.min.js"></script>

        {% block extra_head %}{% endblock %}

        <link
                rel="stylesheet"
                href="{{ STATIC_URL }}application.css">
    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button
                                type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Главная</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div
                            class="collapse navbar-collapse"
                            id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li
                                {% if active_page == 'blog' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'blog:home_page' %}">
                                    Блог
                                </a>
                            </li>
                            <li class="dropdown">
                                  <a
                                      href="#"
                                      class="dropdown-toggle"
                                      data-toggle="dropdown"
                                      role="button"
                                      aria-haspopup="true"
                                      aria-expanded="false">
                                            Конспекты
                                      <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a href="/docs/android/index.html">Android</a></li>
                                      <li><a href="/docs/java/index.html">Java</a></li>
                                      <li><a href="/docs/droidscript/index.html">DroidScript</a></li>
                                      <li><a href="/docs/kotlin/index.html">Kotlin</a></li>

                                      <li role="separator" class="divider"></li>
                                      <li><a href="/docs/python/index.html">Python</a></li>
                                      <li><a href="/docs/openstack/index.html">OpenStack</a></li>
                                      <li><a href="/docs/fuel/index.html">Fuel</a></li>
                                      <li><a href="/docs/p4a/index.html">Python4Android</a></li>
                                      <li><a href="/docs/pys60/index.html">pys60</a></li>
                                      <li><a href="/docs/django/index.html">Django</a></li>

                                      <li role="separator" class="divider"></li>
                                      <li><a href="/docs/html/index.html">HTML</a></li>
                                      <li><a href="/docs/css/index.html">CSS</a></li>
                                      <li><a href="/docs/bootstrap/index.html">Bootstrap</a></li>

                                      <li role="separator" class="divider"></li>
                                      <li><a href="/docs/js/index.html">JavaScript</a></li>
                                      <li><a href="/docs/jquery/index.html">JQuery</a></li>
                                      <li><a href="/docs/angular/index.html">Angular</a></li>
                                      <li><a href="/docs/nodejs/index.html">NodeJS</a></li>
                                      <li><a href="/docs/react/index.html">React</a></li>

                                      <li role="separator" class="divider"></li>
                                      <li><a href="/docs/sql/index.html">SQL</a></li>

                                      <li role="separator" class="divider"></li>
                                      <li><a href="/docs/linux/index.html">Linux</a></li>
                                      <li><a href="/docs/puppet/index.html">Puppet</a></li>
                                      <li><a href="/docs/arduino/index.html">Arduino</a></li>
                                      <li><a href="/docs/re/index.html">re</a></li>
                                  </ul>
                            </li>
                            <li
                                {% if active_page == 'metrics' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'metrics:home_page' %}">
                                    Статистика
                                </a>
                            </li>
                            <li
                                {% if active_page == 'sitemap' %}
                                    class="active"
                                {% endif %}>
                                <a href="{% url 'sitemap' %}">
                                    Карта
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_superuser %}
                                <li
                                    {% if active_page == 'comments' %}
                                        class="active"
                                    {% endif %}>
                                    <a href="{% url 'comments:home_page' %}">
                                        Коментарии
                                    </a>
                                </li>
                                <li
                                    {% if active_page == 'fileuploader' %}
                                        class="active"
                                    {% endif %}>
                                    <a href="{% url 'fileuploader:home_page' %}">
                                        Файлохранилище
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:index' %}">
                                        Админка
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_superuser %}
                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Войти</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {% block extra_body %}{% endblock %}
    </body>

</html>