{% extends 'base.html' %}

{% block extra_head %}

    <script type="text/javascript">
        window.onload = function () {
            var age_value = document.getElementById('age_value'),
                date_now = new Date(),
                year_now = date_now.getFullYear(),
                date_birth = new Date(year_now, 1, 28),
                age = year_now - 1987;

            if (date_now < date_birth) {
                age -= 1;
            }

            age_value.textContent = age;
        }

    </script>

    <title>ilnurgi. Главная</title>

{% endblock %}

{% block extra_body %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <img src="{{ STATIC_URL }}/avatar.jpg">
                    <ul class="list-unstyled">
                        <li>skype: ilnurgi_work</li>
                        <li>emails:
                            <ul>
                                <li>ilnurgi@mail.ru</li>
                                <li>ilnurgi87@gmail.com</li>
                            </ul>
                        </li>
                        <li><a href="https://github.com/ilnurgi">github</a></li>
                        <li><a href="https://www.youtube.com/user/ilnurgi">youtube</a></li>
                        <li><a href="http://vk.com/ilnurgi">вконтакте</a></li>
                        <li><a href="https://plus.google.com/u/0/+%D0%98%D0%BB%D1%8C%D0%BD%D1%83%D1%80%D0%93%D0%B0%D0%B9%D1%84%D1%83%D1%82%D0%B4%D0%B8%D0%BD%D0%BE%D0%B2">google+</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <dl class="dl-horizontal">

                        <dt>О себе</dt>
                        <dd>
                            <ul class="list-unstyled">
                              <li>Зовут Ильнур.</li>
                              <li>Возраст - <em id="age_value"></em></li>
                              <li>С высшим образованием</li>
                            </ul>
                        </dd>

                        <dt>Хронология</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>28 января 1987 год. Родился</li>
                                <li>2004 год. Окончил Шеморданскую Среднюю Школу</li>
                                <li>2010 год. Окончил Казанский Химико Технологический Университет,
                                по специальности - инженер-конструктор</li>
                                <li>2010-2011 год. Служил в ВС России, в/ч 02030</li>
                                <li>2011-2013 год. Работал в <a href="http://www.compressormash.ru/">ОАО Казанькомпрессормаш</a>, инженер-конструктором</li>
                                <li>2013-2015 год. Работал в <a href="http://bars-open.ru/">АО БАРС Груп</a>, разработчиком</li>
                                <li>2015-2016 год. Работал в <a href="http://tionixlabs.ru/index.php/ru/">TIONIX Laboratory</a>, разработчиком</li>
                                <li>С 2016 года работаю в <a href="http://mera.com/">Мера НН</a>, разработчиком</li>
                            </ul>
                        </dd>

                        <dt>Увлечения</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Семья</li>
                                <li>Python
                                    <ul>
                                        <li>unittest</li>
                                        <li>django</li>
                                        <li>flask</li>
                                        <li>pymongo</li>
                                        <li>pyqt</li>
                                        <li>sqlalchemy</li>
                                        <li>tkinter</li>
                                        <li>openstack</li>
                                        <li>pys60</li>
                                        <li>python4android</li>
                                    </ul>
                                </li>
                                <li>JavaScript
                                    <ul>
                                        <li>angular</li>
                                        <li>extjs</li>
                                        <li>jquery</li>
                                        <li>DroidScript</li>
                                    </ul>
                                </li>
                                <li>HTML, CSS
                                    <ul>
                                        <li>bootstrap</li>
                                    </ul>
                                </li>
                                <li>Java
                                    <ul>
                                        <li>android</li>
                                    </ul>
                                </li>
                                <li>SQL, NoSQL
                                    <ul>
                                        <li>MongoDB</li>
                                        <li>MySQL</li>
                                        <li>PostresQL</li>
                                    </ul>
                                </li>
                                <li>Linux
                                    <ul>
                                        <li>Ubuntu</li>
                                    </ul>
                                </li>
                                <li>Система контроля версии
                                    <ul>
                                        <li>git</li>
                                        <li>mercurial</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}