{% extends 'base.html' %}

{% block extra_head %}

    <script type="text/javascript">
        window.onload = function () {
            var age_value = document.getElementById('age_value'),
                date_now = new Date(),
                year_now = date_now.getFullYear(),
                date_birth = new Date(year_now, 1, 28),
                age = year_now - 1987;

            if (date_now < date_birth) {
                age -= 1;
            }

            age_value.textContent = age;
        }

    </script>

    <title>ilnurgi. Главная</title>

{% endblock %}

{% block extra_body %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <img src="{{ STATIC_URL }}/avatar.jpg">
                    <ul class="list-unstyled">
                        <li>skype: ilnurgi_work</li>
                        <li>emails:
                            <ul>
                                <li>ilnurgi@mail.ru</li>
                                <li>ilnurgi87@gmail.com</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <dl class="dl-horizontal">

                        <dt>О себе</dt>
                        <dd>
                            <ul class="list-unstyled">
                              <li>Зовут Ильнур.</li>
                              <li>Возраст - <em id="age_value"></em></li>
                              <li>С высшим образованием</li>
                            </ul>
                        </dd>

                        <dt>Хронология</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>28 января 1987 год. Родился</li>
                                <li>2004 год. Окончил Шеморданскую Среднюю Школу</li>
                                <li>2011 год. Окончил Казанский Химико Технологический Университет,
                                по специальности - инженер-конструктор</li>
                                <li>2011-2012 год. Служил в ВС России, в/ч 02030</li>
                                <li>2012-2013 год. Работал в <a href="http://www.compressormash.ru/">ОАО Казанькомпрессормаш</a>, инженер-конструктором</li>
                                <li>2013-2015 год. Работал в <a href="http://bars-open.ru/">АО БАРС Груп</a>, веб-разработчиком</li>
                                <li>С 2015 года работаю в <a href="http://tionixlabs.ru/index.php/ru/">TIONIX Laboratory</a>, разработчиком</li>
                            </ul>
                        </dd>

                        <dt>Увлечения</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Семья</li>
                                <li>Python
                                    <ul>
                                        <li>unittest</li>
                                        <li>django</li>
                                        <li>flask</li>
                                        <li>pymongo</li>
                                        <li>pyqt</li>
                                        <li>sqlalchemy</li>
                                        <li>tkinter</li>
                                        <li>openstack</li>
                                        <li>pys60</li>
                                        <li>python4android</li>
                                    </ul>
                                </li>
                                <li>JavaScript
                                    <ul>
                                        <li>angular</li>
                                        <li>extjs</li>
                                        <li>jquery</li>
                                        <li>DroidScript</li>
                                    </ul>
                                </li>
                                <li>HTML, CSS
                                    <ul>
                                        <li>bootstrap</li>
                                    </ul>
                                </li>
                                <li>Java
                                    <ul>
                                        <li>android</li>
                                    </ul>
                                </li>
                                <li>SQL, NoSQL
                                    <ul>
                                        <li>MongoDB</li>
                                        <li>MySQL</li>
                                        <li>PostresQL</li>
                                    </ul>
                                </li>
                                <li>Linux
                                    <ul>
                                        <li>Ubuntu</li>
                                    </ul>
                                </li>
                                <li>Система контроля версии
                                    <ul>
                                        <li>git</li>
                                        <li>mercurial</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default list-group">
                    <div class="panel-heading">Мои конспекты</div>
                    <a class="list-group-item" href="/docs/android/index.html">Android</a>
                    <a class="list-group-item" href="/docs/java/index.html">Java</a>
                    <a class="list-group-item" href="/docs/droidscript/index.html">DroidScript</a>

                    <a class="list-group-item" href="/docs/python/index.html">Python</a>
                    <a class="list-group-item" href="/docs/p4a/index.html">Python4Android</a>
                    <a class="list-group-item" href="/docs/pys60/index.html">pys60</a>

                    <a class="list-group-item" href="/docs/html/index.html">HTML</a>
                    <a class="list-group-item" href="/docs/css/index.html">CSS</a>
                    <a class="list-group-item" href="/docs/js/index.html">JavaScript</a>
                    <a class="list-group-item" href="/docs/jquery/index.html">JQuery</a>
                    <a class="list-group-item" href="/docs/angular/index.html">Angular</a>

                    <a class="list-group-item" href="/docs/sql/index.html">SQL</a>

                    <a class="list-group-item" href="/docs/linux/index.html">Linux</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}