{% extends 'base.html' %}

{% block extra_body %}
    <div class="container">
        <ul>
        {% for tag, posts in group_posts %}
            <li>
                <a href="{% url 'blog:tags_page' tag_id=tag.id %}">{{ tag }}</a>
                <ul>
                    {% for post in posts %}
                        <li>
                            <a href="{% url 'blog:post_page' post_id=post.id%}">{{ post }}</a>
                            {% if is_superuser %}
                                {% if post.published %}
                                    <span class="label label-success">Опубликован</span>
                                {% else %}
                                    <span class="label label-warning">Скрыт</span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}