{% extends 'base.html' %}

{% block extra_head %}
    {% block extra_blog_head %}{% endblock %}
{% endblock %}

{% block extra_body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>user</th>
                    <th>user_name</th>
                    <th>user_email</th>
                    <th>created</th>
                    <th>for</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for c in comments %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.user }}</td>
                        <td>{{ c.user_name }}</td>
                        <td>{{ c.user_email }}</td>
                        <td>{{ c.created }}</td>
                        <td>for</td>
                        <td>
                            <a type="button" class="btn btn-info" href="{% url 'comments:edit' comment_id=c.id %}">
                                Редактировать
                            </a>
                            <a type="button" class="btn btn-danger" href="{% url 'comments:delete' comment_id=c.id %}">
                                Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block extra_blog_body %}{% endblock %}
{% endblock %}