{% extends 'base.html' %}

{% block extra_head %}
    <script src="{{ STATIC_URL }}Chart.min.js"></script>
    {% block extra_metrics_head %}{% endblock %}
{% endblock %}

{% block extra_body %}
    <div class="container">
        <ul class="nav nav-pills">
            <li
                    role="presentation"
                    {% if active_page_sub == 'system' %}
                        class="active"
                    {% endif %}>
                <a href="{% url 'metrics:system' %}">Система</a>
            </li>
            <li
                    role="presentation"
                    {% if active_page_sub == 'visiters' %}
                        class="active"
                    {% endif %}>
                <a href="{% url 'metrics:visiters' %}">Посещаемость</a>
            </li>
            {% if is_superuser %}
                <li
                        role="presentation"
                        {% if active_page_sub == 'urls' %}
                            class="active"
                        {% endif %}>
                    <a href="{% url 'metrics:urls' %}">urls</a>
                </li>
                <li
                        role="presentation"
                        {% if active_page_sub == 'urls_from' %}
                            class="active"
                        {% endif %}>
                    <a href="{% url 'metrics:urls_from' %}">urls_from</a>
                </li>
                <li
                        role="presentation"
                        {% if active_page_sub == 'user_agents' %}
                            class="active"
                        {% endif %}>
                    <a href="{% url 'metrics:user_agents' %}">user_agents</a>
                </li>
            {% endif %}
        </ul>
        <br>
        {% block content %}
            На данной странице собрал различную статистику по моему сайту.
            <br>Данные я отображаю в виде различных диграмм и т.п. с использованием JS библиотек
        {% endblock %}
    </div>
{% endblock %}