{% extends 'base_metrics.html' %}

{% block extra_metrics_head %}
    <script>
        function createCharts(json){
            var barChartData = {
                labels : json.labels,
                datasets : [
                    {
                        data : json.data
                    }
                ]
            };

            var ctx = document.getElementById("canvas").getContext("2d");
            var myBar = new Chart(ctx).Line(barChartData);
        }
        $(document).ready(function(){
            $.getJSON("{% url 'metrics_cpu_data' %}", createCharts);
        });
    </script>
{% endblock %}

{% block content %}
    <canvas id="canvas"></canvas>
{% endblock %}