{% extends 'base_metrics.html' %}

{% block extra_metrics_head %}
    <script>
        function createChartJs(json, label, canvas_id, legend_id){
            var data = {
                labels : json.labels,
                datasets : [
                    {
                        label: label,
                        data : json.data,
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)"
                    }
                ]
            };

            var ctx = document.getElementById(canvas_id).getContext("2d");
            var line = new Chart(ctx).Line(data);
            var div_legend = document.getElementById(legend_id);
            div_legend.innerHTML = line.generateLegend();
        }

        function createCPUCharts(json){
            createChartJs(
                json,
                'Chart.js, cpu load',
                "canvas_cpu_chartjs",
                "div_legend_cpu_chartjs");
        }

        function createCPUHourCharts(json){
            createChartJs(
                json,
                'Chart.js, cpu load hour',
                "canvas_cpu_hour_chartjs",
                "div_legend_cpu_hour_chartjs");
        }

        function createMEMCharts(json){
            createChartJs(
                json,
                'Chart.js, mem load',
                "canvas_mem_chartjs",
                "div_legend_mem_chartjs");
        }

        function createMEMHourCharts(json){
            createChartJs(
                json,
                'Chart.js, mem load hour',
                "canvas_mem_hour_chartjs",
                "div_legend_mem_hour_chartjs");
        }

        function createCharts(){
            $.getJSON("{% url 'metrics_cpu_data' %}", createCPUCharts);
            $.getJSON("{% url 'metrics_cpu_hour_data' %}", createCPUHourCharts);
            $.getJSON("{% url 'metrics_mem_data' %}", createMEMCharts);
            $.getJSON("{% url 'metrics_mem_hour_data' %}", createMEMHourCharts);
        }
        $(document).ready(function(){
            Chart.defaults.global.tooltipEvents = [];
            Chart.defaults.global.responsive = true;
            createCharts();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        {# chartjs row #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="div_legend_cpu_chartjs"></div>
            <canvas id="canvas_cpu_chartjs"></canvas>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div id="div_legend_mem_chartjs"></div>
            <canvas id="canvas_mem_chartjs"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_legend_cpu_hour_chartjs"></div>
            <canvas id="canvas_cpu_hour_chartjs"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="div_legend_mem_hour_chartjs"></div>
            <canvas id="canvas_mem_hour_chartjs"></canvas>
        </div>
    </div>
{% endblock %}