{% extends 'base_metrics.html' %}

{% block extra_metrics_head %}
    <script>
        function createChartJs(json, label, canvas_id){
            var data = {
                labels : json.labels,
                datasets : [
                    {
                        label: label,
                        data : json.data,
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)"
                    }
                ]
            };

            var ctx = document.getElementById(canvas_id).getContext("2d"),
                line = new Chart(ctx).Line(data);
        }

        /*
         * заполням чарты данными за неделю
         */
        function createDataWeekCharts(json){

            /*
             * заполняем ипи за неделю
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.ip_count
                },
                'Chart.js, ip visiters week',
                "canvas_ip_week_chartjs");

            /*
             * заполняем уникальные ипи за неделю
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.ip_count_uniq
                },
                'Chart.js, ip uniq visiters week',
                "canvas_ip_uniq_week_chartjs");

            /*
             * заполняем просмотр документашки за неделю
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.docs_all_count
                },
                'Chart.js, docs visiters week',
                "canvas_docs_week_chartjs");
        }

        /*
         * заполням чарты данными за месяц
         */
        function createDataMonthCharts(json){

            /*
             * заполняем ипи
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.ip_count
                },
                'Chart.js, ip visiters',
                "canvas_ip_chartjs");

            /*
             * заполняем уникальные ипи
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.ip_count_uniq
                },
                'Chart.js, ip uniq visiters',
                "canvas_ip_uniq_chartjs");

            /*
             * заполняем просмотр документашки
             */
            createChartJs(
                {
                    labels: json.labels,
                    data: json.docs_all_count
                },
                'Chart.js, docs visiters',
                "canvas_docs_chartjs");
        }

        function createDocsAllCharts(json){
            var data = {
                labels : json.labels,
                datasets : [
                    {
                        label: "Android",
                        data : json.data_android,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#f00",
                        pointColor: "#f00",
                        pointStrokeColor: "#f00"
                    }, {
                        label: "Java",
                        data : json.data_java,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#b22222",
                        pointColor: "#b22222",
                        pointStrokeColor: "#b22222"
                    }, {
                        label: "DroidScript",
                        data : json.data_droidscript,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#8b0000",
                        pointColor: "#8b0000",
                        pointStrokeColor: "#8b0000"
                    }, {
                        label: "Python",
                        data : json.data_python,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#0f0",
                        pointColor: "#0f0",
                        pointStrokeColor: "#0f0"
                    }, {
                        label: "P4A",
                        data : json.data_p4a,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#00ff9a",
                        pointColor: "#00ff9a",
                        pointStrokeColor: "#00ff9a"
                    }, {
                        label: "Pys60",
                        data : json.data_pys60,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#008000",
                        pointColor: "#008000",
                        pointStrokeColor: "#008000"
                    }, {
                        label: "HTML",
                        data : json.data_html,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#ffc0cb",
                        pointColor: "#ffc0cb",
                        pointStrokeColor: "#ffc0cb"
                    }, {
                        label: "CSS",
                        data : json.data_css,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#ff1493",
                        pointColor: "#ff1493",
                        pointStrokeColor: "#ff1493"
                    }, {
                        label: "JS",
                        data : json.data_js,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#0ff",
                        pointColor: "#0ff",
                        pointStrokeColor: "#0ff"
                    }, {
                        label: "jQuery",
                        data : json.data_jq,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#afeeee",
                        pointColor: "#afeeee",
                        pointStrokeColor: "#afeeee"
                    }, {
                        label: "Angular",
                        data : json.data_angular,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#00f",
                        pointColor: "#00f",
                        pointStrokeColor: "#00f"
                    }, {
                        label: "SQL",
                        data : json.data_sql,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#f0f",
                        pointColor: "#f0f",
                        pointStrokeColor: "#f0f"
                    }, {
                        label: "Linux",
                        data : json.data_linux,
                        fillColor: "rgba(0,0,0,0)",
                        strokeColor: "#0",
                        pointColor: "#0",
                        pointStrokeColor: "#0"
                    }
                ]
            };

            var ctx = document.getElementById(
                    'canvas_docs_all_chartjs'
            ).getContext("2d");
            var line = new Chart(ctx).Line(
                    data,
                    {
                        legendTemplate: "" +
                    "<ul class=\"<%=name.toLowerCase()%>-legend\">" +
                    "<% for (var i=0; i<datasets.length; i++){" + "%>" +
                    "<li>" +
                    "<span style=\"color:<%=datasets[i].strokeColor%>\">" +
                    "<%if(datasets[i].label){" + "%>" +
                    "<%=datasets[i].label%><%" + "}%></span></li><%" + "}%></ul>"
                    });
            var div_legend = document.getElementById(
                    'div_legend_docs_all_chartjs');
            div_legend.innerHTML = line.generateLegend();
        }

        function createCharts(){
            $.getJSON("{% url 'metrics:data_week' %}", createDataWeekCharts);
            $.getJSON("{% url 'metrics:data_month' %}", createDataMonthCharts);
            $.getJSON("{% url 'metrics:docs_data_all' %}", createDocsAllCharts);

        }
        $(document).ready(function(){
            Chart.defaults.global.tooltipEvents = [];
            Chart.defaults.global.responsive = true;
            Chart.defaults.global.animation = false;
            createCharts();
        });
    </script>
{% endblock %}

{% block content %}

    <h3>Количество ip-адресов, которые побывали на сайте</h3>
    <div class="row">
        {# за месяц #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_ip_chartjs"></canvas>
        </div>
        {# неделя #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_ip_week_chartjs"></canvas>
        </div>
    </div>

    <h3>Количество уникальных ip-адресов, которые побывали на сайте</h3>
    <div class="row">
        {# месяц #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_ip_uniq_chartjs"></canvas>
        </div>
        {# неделя #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_ip_uniq_week_chartjs"></canvas>
        </div>
    </div>

    <h3>Количество просмотров страниц коспектов</h3>
    <div class="row">
        {# месяц #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_docs_chartjs"></canvas>
        </div>
        {# неделя #}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <canvas id="canvas_docs_week_chartjs"></canvas>
        </div>
    </div>

    <h3>Количество просмотров страниц конспектов по категориям</h3>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div id="div_legend_docs_all_chartjs"></div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <canvas id="canvas_docs_all_chartjs"></canvas>
        </div>
    </div>
{% endblock %}